@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}
body {
  height: 100svh;
  width: 100vw;
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  background-image: url("./loginbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  margin: 0px;
  padding: 0px;
}
.hidden {
  display: none;
}
.log-in {
  font-size: 1.5rem;
  position: relative;
  width: 60%;
  height: 60%;
  background-color: white;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}
.sliding-container {
  width: 50%;
  height: 100%;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 50%;
  transition: all 2s;
  z-index: 1;
  border-top-left-radius: 15rem;
  border-bottom-left-radius: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  /* transform: translate(-50%); */
  /* border-radius: 15rem; */
}
.log-in-ways-container {
  position: absolute;
  bottom: 3rem;
  display: grid;
  place-items: center;
  transition: opacity 0.5s;
  opacity: 0;
}
.sliding-image {
  position: absolute;
  width: 15rem;
  top: 0rem;
  /* top: 75%; */
  transition: all 1s;
}
.sliding-title {
  color: white;
  font-size: 3rem;
}
.already-logged-in {
  position: absolute;
  top: 50%;
  transform: translateY(-25%);
  color: white;
  display: grid;
  place-items: center;
  transition: all 0.5s;
}
.already-logged-in p {
  color: black;
}
.already-logged-in .pin,
.change-password-new-password span {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
}
.log-in-ways {
  display: flex;
  gap: 2rem;
}
.log-in-ways i {
  display: grid;
  place-items: center;
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
}
.log-in-ways p {
  border-radius: 1rem;
  cursor: pointer;
}
.google {
  background-color: #ea4335;
  color: white;
}
.facebook {
  background-color: rgb(66, 103, 178);
  color: white;
}
.instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}
.pinterest {
  background-color: white;
  color: red;
}
.log-in-title,
.sign-up-title {
  display: grid;
  place-items: center;
}
.log-in-container,
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  z-index: 0;
  position: relative;
  transition: opacity 0.5s;
}
.sign-up-container {
  opacity: 0;
}
.credentials-container,
.signup-credentials-container {
  display: flex;
  flex-direction: column;
  flex: 5;
  justify-content: center;
  align-items: center;
}
.log-in-form,
.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  position: relative;
}
.sign-up-container .sign-up-form {
  margin-top: 0rem;
}
.sign-up-title {
  position: relative;
  bottom: 2rem;
}
.username-container,
.password-container,
.forgot-password-username-container,
.forgot-password-email-container,
.forgot-password-pin-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.log-in-container input,
.sign-up-container input,
.forgot-password-container input,
.change-password-container input {
  border: none;
  border-bottom: 1px solid lime;
  padding: 2rem 2rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.log-in-container input:focus,
.sign-up-container input:focus,
.forgot-password-container input:focus,
.change-password-container input:focus {
  outline: none;
}
.forgot-password {
  position: absolute;
  bottom: -2rem;
  right: -5rem;
  font-size: 1rem;
  color: teal;
  text-decoration: underline;
  cursor: pointer;
}
.bottom-of-log-in {
  flex: 1;
}
.log-in-button,
.sign-up-button {
  font-size: 2rem;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  border: none;
  color: white;
  border-radius: 2rem;
  padding: 2rem 4rem;
  cursor: pointer;
  margin-top: 5rem;
}
.back-to-site-href {
  text-decoration: none;
}
.created-account-log-in-button,
.back-to-site-button,
.log-out,
.already-logged-log-out,
.forgot-password-confirm,
.forgot-password-reset,
.changed-password-log-in-button {
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  border: none;
  color: lime;
  border-radius: 2rem;
  padding: 2rem 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  z-index: 10;
}
.log-out {
  position: absolute;
  right: -43rem;
  bottom: 0rem;
}
.already-logged-button-container {
  display: flex;
}
.bottom-text {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
}
.bottom-text span {
  text-decoration: underline;
  color: lime;
  cursor: pointer;
}
.signup-password-container {
  display: flex;
}
.signup-password-container input {
  width: 70%;
}
.second-password,
.first-password,
.forgot-password-first-password,
.forgot-password-confirm-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.error-scnd-password,
.error-first-password,
.error-email,
.error-signup-username,
.error-login-password,
.error-username,
.error-password,
.forgot-password-error-email,
.forgot-password-error-username,
.forgot-password-error-pin,
.change-password-error-first,
.change-password-error-confirm {
  position: absolute;
  bottom: -2rem;
  left: 2rem;
  font-size: 1rem;
  color: red;
  z-index: 1;
  width: 100%;
}
.change-password-error-first,
.change-password-error-confirm {
  left: 50%;
  transform: translateX(-50%);
}
.change-password-error-first {
  width: 150%;
}
.error-credentials,
.forgot-password-error-credentials {
  color: red;
  font-size: 1rem;
  width: 140%;
  position: absolute;
  top: -2rem;
  text-align: center;
  z-index: 2;
}
.forgot-password-error-credentials {
  top: 2rem;
}
.signup-username-container,
.signup-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  position: relative;
}
.signup-username-container input,
.signup-email-container input {
  width: 100%;
}
.forgot-password-container,
.change-password-container {
  position: relative;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 80%;
  opacity: 0;
  transition: all 0.5s;
}
.forgot-password-container div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.forgot-password-container input::placeholder,
.change-password-container input::placeholder {
  color: white;
}
.forgot-password-container input,
.change-password-container input {
  background-color: transparent;
  padding: 1rem;
  border-bottom: 1px solid white;
  color: white;
}
.forgot-password-pin {
  width: 20%;
}
.change-password-changed {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.change-password-message {
  color: white;
}
.go-back-container {
  width: 100%;
}
.go-back,
.nonex-go-back {
  background-color: transparent;
  border: none;
  padding: 1rem;
  position: absolute;
  top: 2rem;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%);
  transition: opacity 0.3s;
  opacity: 0;
}
.nonex-go-back {
  left: 10rem;
  opacity: 1;
}

@media screen and (max-width: 1650px) {
  .log-in {
    width: 80%;
  }
}
@media screen and (max-width: 1150px) {
  .log-in {
    width: 95%;
  }
}
@media screen and (max-width: 950px) {
  .log-in {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  .log-in {
    flex-direction: column;
  }
  .log-in-container,
  .sign-up-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .log-in-container {
    z-index: 1000;
  }
  .sliding-container {
    display: none;
  }
}
@media screen and (max-height: 800px) {
  .log-in {
    height: 100%;
  }
}
