@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  height: auto;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
* {
  margin: 0px;
  padding: 0px;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  height: 11rem;
}
.nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  color: black;
}
.logo-container img {
  height: 5.5rem;
}
.search-container {
  flex: 8;
  display: flex;
  justify-content: center;
}
.search-container input {
  padding: 1.5rem 1rem;
  width: 60rem;
  border: 2px solid lightgreen;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.6rem;
}
.search-container input:focus {
  outline: none;
}
.search-container button {
  padding: 0.2rem 0.7rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  border: none;
  border: 1px solid lime;
  border-right: none;
  background-color: white;
  color: lime;
  position: relative;
  right: -1rem;
}
.search-container i {
  padding: 1.3rem;
}
.search-container button:hover i {
  background-color: rgba(111, 111, 111, 0.2);
  padding: 1.3rem;
  border-radius: 2rem;
}
.profile-picture-container {
  flex: 1;
  display: flex;
  justify-content: end;
}
.profile-picture-container img {
  height: 4rem;
  padding-right: 1.5rem;
}
.list-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 5.5rem;
}

.first-list,
.second-list,
.list-container span {
  color: rgb(144, 144, 144);
  display: flex;
  list-style: none;
  align-items: end;
  font-size: 1.4rem;
  font-weight: bold;
  padding-bottom: 0.6rem;
}
.list-container li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: auto;
  cursor: pointer;
  padding: 0.2rem 1.25rem;
}
.list-clicked {
  color: lime;
}
.list-unclicked:hover {
  color: black;
}
.list-clicked::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  width: 90%;
  height: 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: lime;
}
.list-container span {
  font-weight: 100;
  font-size: 2rem;
  padding: 0.5rem;
}
.first-list {
  padding-right: 3rem;
}
.second-list {
  padding-left: 3rem;
}

#main {
  width: 55vw;
  margin-top: 12rem;
  padding-bottom: 5rem;
}
.page-title {
  font-weight: normal;
  font-size: 3rem;
}
.page-description {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}
.page-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.page-top-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  gap: 2rem;
  color: black;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.weather-temperature {
  font-size: 2rem;
  font-weight: normal;
}
.weather-link {
  color: teal;
  text-decoration: none;
}
.page-top-right img {
  width: 3rem;
}
.first-second-container-wrapper {
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}
.first-container {
  width: 65%;
  background-color: white;
  padding: 1.5rem;
  color: black;
  font-family: "Roboto", sans-serif;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}
.second-container {
  width: 30%;
  background-color: white;
  height: 100%;
  border-radius: 2rem;
  padding: 1.5rem;
  color: black;
}
.right-side-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding: 0rem 0rem 1.5rem 0rem;
}
.right-side-title h1 {
  font-weight: normal;
}
.right-side-title p {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 2rem;
  border: 2px solid black;
  padding: 0rem 0.75rem;
  cursor: pointer;
}
.right-side-card {
  padding: 1rem 0rem;
  display: flex;
  border-bottom: 1px solid rgb(220, 220, 220);
  position: relative;
  font-family: "Roboto", sans-serif;
}
.right-side-card:last-child {
  border-bottom: none;
}
.right-side-card-left {
  flex: 8;
}
.right-side-card-right {
  flex: 2;
  display: flex;
  justify-content: end;
  align-items: start;
}
.right-side-card-image {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1.5rem;
}
.right-side-card-title {
  font-size: 1.7rem;
  height: 6rem;
  font-weight: normal;
  overflow: hidden;
}
.small-news-container {
  width: 100%;
  display: flex;
  height: 10rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}
.small-news {
  position: relative;
}
.logo {
  font-size: 1rem;
  display: flex;
  font-weight: bold;
  gap: 0.5rem;
  align-items: end;
}
.small-news-title {
  font-size: 2rem;
  font-weight: normal;
  flex: 8;
}
.date-author {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  font-size: 1.2rem;
  color: gray;
  width: 100%;
  height: 1.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.small-news-image {
  display: flex;
  justify-content: end;
  flex: 2;
}
.small-news-image img {
  height: 100%;
  border-radius: 1rem;
}
.big-news {
  display: flex;
  width: 100%;
  height: 25rem;
  padding: 1rem 0rem;
  border-bottom: 1px solid rgb(220, 220, 220);
  gap: 1.5rem;
}
.main-news {
  flex: 3.5;
  position: relative;
}
.main-news-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 1rem;
}
.main-news-title {
  font-size: 1.8rem;
  font-weight: normal;
  height: 25%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
}
.on-the-side-news {
  padding-top: 1rem;
  flex: 6.5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.on-the-side-new {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
}
.on-the-side-title {
  font-size: 1.4rem;
}
.date-author-side {
  color: gray;
  font-size: 1.2rem;
}
.image-side {
  width: 2rem;
  object-fit: scale-down;
}
.for-you-container {
  color: black;
  display: flex;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem 0rem;
}
.for-you-container .right-side-card {
  padding: 1rem 1rem;
}
.for-you-left-side {
  border-right: 1px solid rgb(220, 220, 220);
}
.for-you-right-side,
.for-you-left-side {
  padding: 0rem 1rem;
}
.fourth-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  row-gap: 2rem;
}
.fourth-container-wrapper .second-container {
  width: 29.7%;
}
