@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: calc(100vw - (100vw - 100%));
  font-family: "Roboto";
}
* {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}
.sticky {
  position: fixed;
  left: 0px;
  right: 0px;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.underline {
  text-decoration: underline;
}
.button-up {
  height: 0rem;
  width: 6rem;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  border-radius: 1rem;
  overflow: hidden;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  cursor: pointer;
}
.main-page {
  position: relative;
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: space-between;
  box-shadow: inset -100px -50px 500px rgba(0, 0, 0, 0.2);
}
.left-side {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10rem;
  flex: 5;
}
.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
}
.right-side {
  object-fit: contain;
  width: 30%;
}

.header {
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 7rem;
  z-index: 3;
  background-color: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}
.nav-image-name-container {
  display: flex;
  align-items: center;
  font-family: "Exo 2";
  font-size: 2 rem;
}
.nav-image {
  height: 7rem;
}
.nav-list {
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.nav-list li {
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
.nav-list li:hover {
  background-color: rgba(73, 180, 58, 0.2);
}
.nav-list-button-container {
  display: flex;
  align-items: center;
}
.nav-button {
  width: 15rem;
  height: 5rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
}
.welcome-title-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: -15rem;
}

.site-title {
  padding: 1rem;
  font-size: 4rem;
  transform: skew(-30deg);
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  border-radius: 2rem;
  margin-left: 2rem;
}
.site-title h1,
.site-title-two h1 {
  transform: skew(30deg);
  font-family: "Exo 2";
  color: white;
}
.site-title-two {
  padding: 1rem;
  font-size: 2rem;
  transform: skew(-30deg);
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  border-radius: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.added-text {
  font-size: 4rem;
  font-weight: normal;
  display: flex;
  align-items: center;
}
.title-paragraph {
  font-size: 2rem;
  color: gray;
  margin-top: 3rem;
  width: 80%;
  text-align: center;
}
/* .email-paragraph {
  text-align: center;
  color: gray;
  font-size: 2rem;
  width: 70%;
}
.email-container {
  display: flex;
  position: relative;
}
.email-input {
  width: 40rem;
  padding: 10px;
  font-size: 2rem;
  border: 1px solid lime;
} 
.invalid-container {
  width: auto;
  text-align: center;
  height: 100%;
  position: absolute;
  bottom: -3rem;
  left: 0px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 0px 0px red) drop-shadow(-1px 0px 0px red)
    drop-shadow(0px 1px 0px red) drop-shadow(0px -1px 0px red);
  color: white;
}
.invalid-input {
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  font-weight: bold;
  font-size: 1.2rem;

  clip-path: polygon(
    0% 100%,
    100% 100%,
    100% 50%,
    70% 50%,
    60% 40%,
    50% 50%,
    0% 50%
  );
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}
.invalid-input p {
  margin-top: 5rem;
  z-index: 10;
}
.email-submit {
  width: 10rem;
  height: 7rem;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  color: white;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
}
.email-submit:focus,
.nav-button:focus,
.email-input:focus {
  outline: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0vw;
  height: 0svh;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: all 1s;
} */
.reason-we-are-the-best {
  position: absolute;
  bottom: 4.2rem;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 20rem;
}
.reason-title {
  font-size: 2rem;
  background: -webkit-linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 33%,
    rgba(196, 252, 69, 1) 70%,
    rgba(73, 180, 58, 1) 33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.reasons-container {
  display: flex;
  justify-content: space-evenly;
}
.reasons-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 2rem;
  width: 20%;
  padding: 2rem;
  transition: all 1s, background-color 0.2s;
}
.reasons-container div:hover {
  transform: translateY(-10rem) scale(1.1);
  border-radius: 1rem;
  width: 20%;
  background-color: white;

  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  & p {
    transform: scale(1.1);
  }
}
.reason-we-are-the-best h2 {
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.reason-we-are-the-best p {
  font-size: 1.5rem;
  width: 60%;
  transition: all 1s;
}
.second-page {
  border-top: 1px solid lightgreen;
  height: 120svh;
  width: 100%;
  display: flex;
  box-shadow: inset 100px 50px 500px rgba(0, 0, 0, 0.2);
}
.left-side-scnd {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 5;
}
.left-side-scnd-title {
  position: absolute;
  top: 5rem;
  left: 50%;
  width: 100rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}
.left-side-scnd-title h1 {
  font-size: 4rem;
  color: black;
}
.left-side-scnd-title p {
  font-size: 2rem;
  color: lime;
}
.left-side-scnd-image {
  width: 70rem;
}
.right-side-scnd {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: start;
}
.menu-container {
  height: 30rem;
  margin-top: 30rem;
}
.menu-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-container h1 {
  background-color: white;
  width: 70rem;
  padding: 4rem;
  border-radius: 7rem;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.menu-container div:nth-child(1) h1,
.menu-container div:nth-child(1) p {
  border: 5px solid lime;
}
.menu-container div:nth-child(1) i:hover {
  cursor: pointer;
  background-color: rgba(73, 180, 58, 0.5);
}
.menu-container div:nth-child(2) h1,
.menu-container div:nth-child(2) p {
  border: 5px solid red;
}
.menu-container div:nth-child(2) i:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
}
.menu-container div:nth-child(3) h1,
.menu-container div:nth-child(3) p {
  border: 5px solid orange;
}
.menu-container div:nth-child(3) i:hover {
  cursor: pointer;
  background-color: rgba(255, 165, 0.5);
}
.menu-container div:nth-child(4) h1,
.menu-container div:nth-child(4) p {
  border: 5px solid cyan;
}
.menu-container i {
  transition: all 0.5s;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
}
.menu-container div:nth-child(4) i:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 255, 0.5);
}

.menu-container p {
  width: 55rem;
  background-color: white;
  height: 0px;
  padding: 0rem 5rem;
  transition: padding 0.5s, height 0.5s, color 0.9s;
  color: black;
  font-size: 2rem;
  overflow: hidden;
  display: grid;
  place-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.third-page {
  height: 100svh;
  box-shadow: inset -100px -50px 500px rgba(0, 0, 0, 0.2);
  border-top: 1px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  gap: 5rem;
}
.third-page-title-container {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  width: 120rem;
  align-self: center;
}
.third-page-title {
  font-size: 4rem;
}
.moved-left,
.moved-right {
  font-size: 2rem;
  position: absolute;
  color: lime;
}
.moved-left {
  left: 7rem;
  top: 5rem;
}
.moved-right {
  right: 7rem;
  bottom: 5rem;
}
.review {
  background-color: whitesmoke;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90rem;
  height: 35rem;
  display: flex;
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
  transition: all 2s;
}
.review-left-side {
  flex: 2.5;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4rem);
}
.review-photo-name-container {
  display: flex;
  flex-direction: column;
}
.review-photo {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 6rem;
}
.review-name {
  font-size: 2.5rem;
}
.review-information,
.review-more-information {
  list-style: none;
}
.review-right-side {
  border-left: 1px solid lime;
  flex: 7.5;
  width: 100%;
  padding: 2rem;
  height: (100% -4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-title-stars-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}
.review-stars {
  color: yellow;
  font-size: 2rem;
  display: flex;
  gap: 1rem;
}
.review-description {
  flex: 5;
}
.buttons button {
  width: 50rem;
  height: 25rem;
}
.fourth-page {
  height: 100svh;
  width: 100%;
  background-color: orange;
}

/* .images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20rem;
}

.card {
  height: 34rem;
  width: 24rem;
  box-shadow: 5px 0px 30px 0px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.card-img {
  width: 100%;
  height: 40%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(60% -4rem);
  padding: 2rem;
}
.card-title {
  font-size: 1rem;
}
.card-date {
  position: absolute;
  top: 0rem;
  left: 1rem;
}
.card-description {
  font-size: 1rem;
  height: 7rem;
  overflow-y: auto;
}
.card-source {
  position: absolute;
  bottom: 0px;
  right: 1rem;
  font-size: 1rem;
}
.card-button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  color: white;
  cursor: pointer;
  background: rgb(73, 180, 58);
  background: linear-gradient(
    135deg,
    rgba(73, 180, 58, 1) 0%,
    rgba(196, 252, 69, 1) 100%
  );
} */
