:root {
  --primary-color: cyan;
  --primary-color-opacity-05: rgba(23, 23, 23, 0.05);
  --primary-color-opacity-1: rgba(17, 15, 15, 0.1);
  --primary-color-opacity-2: rgba(23, 23, 23, 0.2);
  --primary-color-opacity-5: rgba(23, 23, 23, 0.5);

  --control-window-background: cyan;
  --input-background: transparent;
  --input-text-background: transparent;

  --background-color: cyan;
  --main-background-accent: rgba(23, 23, 23, 0.1);
  --main-background-accent-two: rgba(23, 23, 23, 0.1);

  --input-color: white;
  --input-color-focused: white;
  --input-text-background: transparent;

  --text-color: #ffffff;
  --main-background-color: rgb(100, 100, 100, 0.8);
  --focused-background: transparent;

  --success-color: lime;

  --primary-color-2: rgb(23, 23, 23);
}
