:root {
  --primary-color: pink;
  --primary-color-opacity-05: rgba(0, 255, 255, 0.05);
  --primary-color-opacity-1: rgba(0, 120, 120, 0.1);
  --primary-color-opacity-2: rgba(0, 255, 0, 0.2);
  --primary-color-opacity-5: rgba(216, 254, 0, 0.5);

  --control-window-background: rgb(232, 0, 232);
  --control-window-text-color: white;

  --input-background: cyan;
  --input-text-background: transparent;

  --body-image: url("https://www.hdwallpapers.in/download/colorful_gradients-1920x1080.jpg");
  --main-background-accent: rgba(0, 120, 120, 0.1);
  --main-background-accent-two: rgba(0, 120, 120, 0.1);
  --main-background-accent-three: rgba(0, 120, 120, 0.1);

  --input-color: white;
  --input-color-focused: white;
  --input-text-background: transparent;

  --text-color: #000000;
  --main-background-color: rgb(255, 255, 255, 0.8);
  --focused-background: transparent;

  --success-color: lime;
  --menu-color: var(--primary-color);

  --primary-color-2: rgb(0, 255, 0);
}
