:root {
  --primary-color: #000000;
  --primary-color-opacity-05: rgba(0, 0, 0, 0.05);
  --primary-color-opacity-1: rgba(0, 0, 0, 0.1);
  --primary-color-opacity-2: rgba(0, 0, 0, 0.2);
  --primary-color-opacity-5: rgba(0, 0, 0, 0.5);

  --text-color: #ffffff;
  --main-background-color: rgb(30, 30, 30, 0.8);
  --focused-background: transparent;

  --success-color: lime;

}
