:root {
  --primary-color: #000000;
  --primary-color-opacity-05: rgba(0, 0, 0, 0.05);
  --primary-color-opacity-1: rgba(0, 0, 0, 0.1);
  --primary-color-opacity-2: rgba(0, 0, 0, 0.2);
  --primary-color-opacity-5: rgba(0, 0, 0, 0.5);

  --control-window-background: rgb(0, 0, 0);
  --input-background: rgb(0, 0, 0);
  --input-text-background: transparent;

  --background-color: #000000;
  --main-background-accent: rgba(0, 0, 0, 0.1);
  --main-background-accent-two: rgba(0, 0, 0, 0.1);

  --input-color: white;
  --input-color-focused: white;
  --input-text-background: transparent;

  --text-color: #ffffff;
  --main-background-color: rgb(30, 30, 30, 0.8);
  --focused-background: transparent;

  --success-color: lime;
  --menu-color: var(--primary-color);


  --primary-color-2: rgb(23,23,23);
}
