:root {
  --primary-color: rgb(128, 0, 128);
  --primary-color-opacity-05: rgba(128, 0, 128, 0.05);
  --primary-color-opacity-1: rgba(128, 0, 128, 0.1);
  --primary-color-opacity-2: rgba(128, 0, 128, 0.2);
  --primary-color-opacity-5: rgba(128, 0, 128, 0.5);

  --control-window-background: rgb(128, 0, 128);
  --control-window-text-color: white;

  --input-background: rgb(128, 0, 128);
  --input-text-background: transparent;

  --background-color: rgb(128, 0, 128);
  --main-background-accent: rgba(128, 0, 128, 0.1);
  --main-background-accent-two: rgba(128, 0, 128, 0.1);
  --main-background-accent-three: rgba(128, 0, 128, 0.1);

  --input-color: white;
  --input-color-focused: white;
  --input-text-background: transparent;

  --text-color: #000000;
  --main-background-color: rgb(255, 255, 255, 0.8);

  --success-color: lime;
  --menu-color: var(--primary-color);

  --primary-color-2: rgb(100, 0, 100);
}
