:root {
  --main-background-color: var(--primary-color-2);

  --text-color: var(--control-window-text-color);

  --input-color-focused: white;

  --primary-color-opacity-2: var(--text-color);
  --menu-text-color: var(--menu-color);

  --theme-color: var(--main-background-color);
}

.control-window {
  border: 1px solid var(--text-color);
  border-right: none;
}
.control-window::after {
  border-top: 1px solid var(--text-color) !important;
}
#change-username-save-button,
#change-password-save-button,
#change-email-save-button,
#change-gender-save-button,
#change-name-save-button,
#change-date-save-button {
  border: 1px solid var(--text-color) !important;
}
#change-username-bottom input,
#change-password-bottom input,
#change-email-bottom-second input,
#change-email-bottom input,
#change-gender-bottom input,
#change-name-bottom input,
#change-date-bottom input {
  border: 1px solid var(--text-color) !important;
}
#change-gender-selection {
  border: 1px solid var(--text-color) !important;
}
.input-error-text {
  color: var(--text-color) !important;
}
.preference {
  border: 1px solid var(--text-color);
}
.theme-subtitle-container {
  border: 1px solid var(--control-window-text-color) !important;
}
.theme-subtitle-container::after {
  border-top: 1px solid var(--control-window-text-color) !important;
}
