:root {
  --main-background-color: rgba(255, 255, 255, 1);
  --text-color: black;

  --input-color-focused: black;
  --theme-color: rgb(255, 255, 255);
}
#main {
  border: 1px solid var(--text-color);
}
.white-bg {
  border: 1px solid black;
}
#global-body {
  border: 1px solid black !important;
}
