#membership {
  width: 100%;
  height: 100%;
}
#membership-top {
  height: 20%;
  box-shadow: 0rem 2rem 1rem var(--main-background-accent);
  display: flex;
  align-items: center;
}
#membership-title {
  margin-left: 2rem;
}
#membership-bottom {
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}
.membership-option {
  width: 25%;
  height: 80%;
  background-color: rgb(59, 59, 59);
  position: absolute;
  transition: all 0.2s;
}
.membership-option h2 {
  padding: 2rem;
  text-align: center;
}
.membership-option h1 {
  background-color: var(--primary-color);
  color: var(--control-window-text-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}
.membership-option ul {
  list-style: none;
  margin: 1rem 0rem;
}
.membership-option li {
  padding: 0.5rem 2rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-option:before,
.membership-option:before {
  content: "";
  width: 50%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#pricing-gold:before,
#gold:before {
  background-color: gold;
}
#pricing-diamond:before,
#diamond:before {
  background-color: aqua;
}
#pricing-platinum:before,
#platinum:before {
  background-color: teal;
}
.fog {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.carbon--checkmark {
  color: lime;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='m13 24l-9-9l1.414-1.414L13 21.171L26.586 7.586L28 9z'/%3E%3C/svg%3E");
}
.material-symbols-light--close {
  color: red;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z'/%3E%3C/svg%3E");
}
.fluent-mdl2--see-do {
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2048 2048'%3E%3Cpath fill='%23000' d='M1408 0q40 0 78 12t70 36t56 54t38 70l363 1088q35 103 35 212q0 93-35 174t-96 142t-142 96t-175 36q-89 0-171-34t-146-97q-63-63-97-145t-34-172v-448H896v448q0 89-34 171t-97 146q-63 63-145 97t-172 34q-93 0-174-35t-142-96t-96-142t-36-175q0-109 35-212q5-14 23-68t44-134t59-176t66-195t64-192t55-166t38-116t15-44q15-37 39-68t55-54t69-34t78-13q74 0 121 24t76 64t42 93t16 110t3 114t-2 107h256q0-49-1-106t1-115t17-109t41-93t76-65t122-24M448 1792q66 0 124-25t101-69t69-102t26-124q0-66-25-124t-69-101t-102-69t-124-26q-66 0-124 25t-101 69t-69 102t-26 124q0 66 25 124t69 101t102 69t124 26M768 256q0-27-10-50t-27-40t-41-28t-50-10q-39 0-73 24t-48 62l-289 866q51-27 106-41t112-15q33 0 80 9t95 27t87 43t58 56zm384 640V640H896v256zm128 263q18-31 57-56t87-42t95-27t81-10q57 0 112 14t106 42l-289-866q-13-38-47-62t-74-24q-27 0-50 10t-40 27t-28 41t-10 50zm320 633q66 0 124-25t101-69t69-102t26-124q0-66-25-124t-69-101t-102-69t-124-26q-66 0-124 25t-101 69t-69 102t-26 124q0 66 25 124t69 101t102 69t124 26'/%3E%3C/svg%3E");
}
[data-num="0"] {
  left: 5%;
}
[data-num="1"] {
  left: 50%;
  transform: translateX(-50%) scale(1.15);
  z-index: 9999;
}
[data-num="2"] {
  left: 70%;
}
#control-buttons {
  display: flex;
  width: 43%;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
#control-buttons button {
  background-color: var(--primary-color-opacity-5);
  color: var(--control-window-text-color);
  padding: 2rem 2.5rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}
.membership-option-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#check-price-button {
  background-color: var(--primary-color);
  border: 0px;
  color: var(--control-window-text-color);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
#check-price-button:hover {
  border: 3px solid var(--control-window-text-color);
  margin: -3px;
}
