@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@400..700&family=Protest+Strike&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  width: 100vw;
  height: 100svh;
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  background-image: var(--body-image);

  background-size: cover;
  background-repeat: no-repeat;
  color: var(--text-color);
}
* {
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
}
#main {
  width: 80%;
  height: 80%;
  border-radius: 5rem;
  overflow: hidden;
  display: flex;
  font-family: "Poppins", sans-serif;
  position: relative;
  z-index: 999;
  background-color: var(--main-background-color);
}
#menu {
  width: 20%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
  box-shadow: 1rem -5rem 2rem var(--primary-color-opacity-05);
}
#menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
#menu h1 {
  font-family: "Dancing Script", sans-serif;
  padding: 2rem 0rem;
  margin-left: 5rem;
}
#menu ul li {
  padding: 1rem 0rem;
  padding-left: 5rem;
  cursor: pointer;
}
.menu-clicked {
  border-left: 1rem solid var(--primary-color);
  background: var(--primary-color);
  background: linear-gradient(
    90deg,
    var(--primary-color-opacity-2) 28%,
    rgba(235, 14, 219, 0) 100%
  );
  padding-left: 4rem !important;
}
#display {
  font-size: 1.3rem;
  width: 80%;
  background: var(--primary-color);
  background: linear-gradient(
    135deg,
    var(--primary-color-opacity-1) 10%,
    rgba(235, 14, 219, 0) 30%
  );

  display: flex;
  justify-content: space-between;
}
#account-basics img {
  width: 10rem;
  border-radius: 5rem;
}
#account-pfp {
  align-items: center;
}
#account-pfp-text {
  margin-left: 3rem;
  text-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}
.flex {
  display: flex;
}
.basic-info {
  justify-content: space-between;
  padding: 1.5rem 0rem;
  border-bottom: 1px solid var(--primary-color-opacity-2);
  cursor: pointer;
}
.wd40 {
  width: 40%;
}
.wd60 {
  width: 60%;
}
.basic-info-value {
  justify-content: space-between;
  font-weight: bold;
}
.account-info {
  justify-content: space-between;
  padding: 1.5rem 0rem;
  cursor: pointer;
  border-bottom: 1px solid var(--primary-color-opacity-2);
}
.account-info-value {
  justify-content: space-between;
}
#account-info h2,
#account-basics h2 {
  margin: 2rem 0rem;
  font-size: 2.3rem;
}
#display-left {
  width: 100%;
  padding: 0rem 15rem;
  padding-top: 9rem;
  padding-right: 5rem;
  z-index: 10;
}
#display-left h1 {
  margin-bottom: 5rem;
  font-size: 3rem;
}
#display-right {
  width: 50%;
  align-items: center;
  justify-content: center;
  transition: width 1s, margin 1s, opacity 0.5s;
  position: relative;
}
.display-change-name {
  width: 100% !important;
}
.workbench {
  background-color: var(--primary-color-opacity-1);
  box-shadow: 1rem 1rem 5rem 5rem var(--primary-color-opacity-1);
  width: 70%;
  height: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 3rem;
  gap: 2rem;
  position: absolute;
}
.workbench i {
  font-size: 3rem;
}
.fa-angle-right {
  font-size: 1.7rem;
  transition: all 0.2s;
}
.red {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.control-window {
  position: absolute;
  top: 10%;
  gap: 3rem;
  right: 0;
  padding: 1rem 2rem;
  align-items: center;

  width: 20rem;
  border-radius: 2rem 0rem 0rem 2rem;

  cursor: pointer;
  z-index: 999;

  background-color: var(--control-window-background);
}
.control-window::after {
  content: "";
  width: 80%;
  height: 80%;
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 0;
  border-top-right-radius: 2rem;
  box-shadow: 0rem -2rem 0rem var(--control-window-background);
}
.control-window i {
  font-size: 3rem;
}
.nowrap {
  text-wrap: nowrap;
}
.display-right-hidden {
  width: 0% !important;
  margin: 0px;
  opacity: 0;
}
#change-username,
#change-password,
#change-email-second,
#change-email,
#change-gender,
#change-name,
#change-date {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}
#change-username-top,
#change-password-top,
#change-email-top-second,
#change-email-top,
#change-gender-top,
#change-name-top,
#change-date-top {
  height: 30%;

  justify-content: flex-end;
  flex-direction: column;
  text-wrap: nowrap;
  align-items: center;
}
#change-username-bottom,
#change-password-bottom,
#change-email-bottom-second,
#change-email-bottom,
#change-gender-bottom,
#change-name-bottom,
#change-date-bottom {
  flex-direction: column;
  height: 70%;
  padding: 0rem 3rem;
  width: calc(100% - 6rem);
  position: absolute;
}
#change-username-bottom form,
#change-password-bottom form,
#change-email-bottom-second form,
#change-email-bottom form,
#change-gender-bottom form,
#change-name-bottom form,
#change-date-bottom form {
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem 0rem;
  padding-bottom: 0rem;
}
#change-password-bottom form,
#change-email-bottom-second form,
#change-email-bottom form {
  position: relative;
}
#change-username-bottom form div,
#change-password-bottom form div,
#change-email-bottom-second form div,
#change-email-bottom form div,
#change-gender-bottom form div,
#change-name-bottom form div,
#change-date-bottom form div {
  padding: 1rem 0rem;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}
#change-username-bottom input,
#change-password-bottom input,
#change-email-bottom-second input,
#change-email-bottom input,
#change-gender-bottom input,
#change-name-bottom input,
#change-date-bottom input {
  padding: 0.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 1rem;
  width: 100%;
  height: 3rem;
  background-color: var(--input-background);
  color: var(--text-color);
}
#change-date-day,
#change-date-month {
  width: 4rem !important;
}
#change-date-year {
  width: 6rem !important;
}
#change-username-input-container input:focus,
#change-password-input-container input:focus,
#change-email-input-container-second input:focus,
#change-email-input-container input:focus,
#change-gender-input-container input:focus,
#change-gender-selection:focus,
#change-name-bottom input:focus,
#change-date-bottom input:focus {
  outline: none;
}
#change-username-input-container,
#change-password-input-container,
#change-email-input-container-second,
#change-gender-input-container,
#change-email-input-container {
  align-items: center;
  flex-direction: column;
}
#change-password-input-container {
  gap: 1rem;
}
#change-email-pin-input {
  width: 8% !important;
  align-self: flex-start;
  padding: 0.5rem 2rem !important;
}
#change-email-input-container-second {
  gap: 0.5rem;
}
#change-gender-other {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center !important;
  align-items: center;
  overflow: hidden;
  margin-top: 1rem;
  position: relative;
  transition: all 0.5s;
}
.change-gender-hidden {
  margin-top: 0px !important;
  height: 0px !important;
  padding: 0px !important;
}
#change-gender-text {
  font-size: 1rem;
  position: absolute;
  top: 0rem;
}
#change-gender-other input {
  border-radius: 0px;
}
#change-gender-selection {
  padding: 1rem;
  border: 1px solid var(--primary-color);
  width: 50%;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
}
#change-gender-container {
  display: flex;
  justify-content: center !important;
}
#change-gender-selection option {
  width: 100%;
  padding: 1rem;
}
#change-name-input-container {
  gap: 3rem;
}
#change-date-input-container {
  gap: 1rem;
}
.input-date {
  justify-content: center;
  width: auto !important;
}
.input-text {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  background-color: var(--input-background);
  padding: 0.5rem;
  transition: all 0.5s;
}
.input-text-focused {
  left: 0.5rem;
  top: 1rem;
  color: var(--text-color);
  background-color: var(--focused-background);
  font-size: 1rem;
}
.forgot-password {
  position: absolute;
  right: 0;
  font-size: 1rem;
  color: teal;
  cursor: pointer;
}
.forgot-password:hover {
  text-decoration: underline;
}
#change-username-buttons-container,
#change-password-buttons-container,
#change-email-buttons-container,
#change-gender-buttons-container,
#change-name-buttons-container,
#change-date-buttons-container {
  display: flex;
  margin: 1rem 0rem;
  margin-top: 5rem;
}
#change-password-buttons-container,
#change-email-buttons-container {
  margin-top: 0rem;
}
.change-name-button {
  width: 25%;
  height: 4rem;
  border: none;
  cursor: pointer;
}
#change-username-save-button,
#change-password-save-button,
#change-email-save-button,
#change-gender-save-button,
#change-name-save-button,
#change-date-save-button {
  background-color: var(--primary-color);
  color: white;
}
#change-username-save-button:hover,
#change-password-save-button:hover,
#change-email-save-button:hover,
#change-gender-save-button:hover,
#change-name-save-button:hover,
#change-date-save-button:hover {
  background-color: var(--primary-color-opacity-5);
}
#change-username-cancel-button:hover,
#change-password-cancel-button:hover,
#change-email-cancel-button:hover,
#change-gender-cancel-button:hover,
#change-name-cancel-button:hover,
#change-date-cancel-button:hover {
  background-color: rgb(196, 196, 196);
}
#change-username-cancel-button,
#change-password-cancel-button,
#change-email-cancel-button,
#change-gender-cancel-button,
#change-name-cancel-button,
#change-date-cancel-button {
  color: var(--primary-color);
}
#change-username-bottom-text,
#change-password-bottom-text,
#change-email-bottom-text,
#change-gender-bottom-text,
#change-name-bottom-text,
#change-date-bottom-text {
  font-size: 1rem;
}
#change-username-added-container,
#change-password-added-container,
#change-email-added-container,
#change-gender-added-container,
#change-name-added-container,
#change-date-added-container {
  background-color: var(--primary-color-opacity-1);
  position: absolute;
  justify-content: space-between;
  bottom: 2rem;
  width: calc(87% - 4rem);
  border-bottom-right-radius: 3rem;
  padding: 2rem;
}
#change-username-added-left,
#change-password-added-left,
#change-email-added-left,
#change-gender-added-left,
#change-name-added-left,
#change-date-added-left {
  flex-direction: column;
  gap: 0.3rem;
}
#change-username-added-left p,
#change-password-added-left p,
#change-email-added-left p,
#change-gender-added-left p,
#change-name-added-left p,
#change-date-added-left p {
  font-weight: bold;
}
#change-username-added-right,
#change-password-added-right,
#change-email-added-right,
#change-gender-added-right,
#change-name-added-right,
#change-date-added-right {
  cursor: pointer;
}
#change-username-added-right:hover,
#change-password-added-right:hover,
#change-email-added-right:hover,
#change-gender-added-right:hover,
#change-name-added-right:hover,
#change-date-added-right:hover {
  text-decoration: underline;
}
.input-error {
  border-color: red !important;
}
.input-error-text,
.input-error-text-credentials {
  color: red;
  position: absolute;
  bottom: -0.5rem;
  font-size: 1rem;
}
.input-error-text-credentials {
  bottom: none;
  top: -0.5rem;
  text-wrap: nowrap;
  max-height: 1rem;
}
.birth-error {
  text-wrap: nowrap;
  margin-left: -4rem;
}
.old-error {
  margin-left: -4rem;
}
.name-changed {
  position: absolute;
  top: -1rem;
  color: var(--success-color);
  font-weight: bold;
}
.hidden {
  display: none;
}
.spinning {
  animation: spinning 2s linear infinite;
  color: var(--primary-color);
  font-size: 4rem;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
