#themes {
  display: flex;
  width: 100%;
  height: 100%;
}
#theme-left {
  height: 100%;
  min-width: 40%;
  width: 100%;
  max-width: 100%;
  box-shadow: 1rem 0rem 1rem var(--main-background-accent-two);
  transition: all 0.5s;
}
.theme-left-smaller {
  width: 40% !important;
}
#theme-right {
  width: 0%;
  transition: all 0.5s;
  opacity: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.theme-right-title {
  text-align: center;
}
#global-body {
  width: 80%;
  height: 40%;
  background-color: var(--background-color);
  display: grid;
  place-items: center;
  border: 1px solid var(--primary-color);
}
.theme-right-smaller-global {
  background-color: var(--main-background-color);
  width: 95%;
  height: 90%;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}
.global-left {
  width: 30%;
  height: 100%;
  box-shadow: 1rem 0rem 1rem var(--main-background-accent-two);
}
.global-right {
  width: 70%;
  height: 100%;
  background: var(--primary-color);
  background: linear-gradient(
    135deg,
    var(--main-background-accent) 10%,
    rgba(235, 14, 219, 0) 30%
  );
}
.theme-right-bigger {
  opacity: 1 !important;
  width: 100% !important;
}
#premade-themes {
  padding: 1rem 2rem;
  width: calc(100% - 4rem);
  z-index: 5;
}
#theme-title {
  font-size: 4rem;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
}
.theme-premade-subtitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.create-container {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  gap: 3rem;
}
.dropdown-title {
  width: 100%;
  overflow: hidden;
}
.theme-subtitle-container {
  padding: 0.5rem 1rem;
  display: flex;
  width: calc(100% - 2rem - 1px);
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  transition: height 0.4s, padding 0.4s;
  border: 1px solid var(--primary-color-opacity-5);
  border-left: none;
  background-color: var(--theme-color);
}
.theme-colors-clicked {
  height: 5rem !important;
  padding: 0.5rem 2rem !important;
}
.theme-subtitle-container-active {
  box-shadow: 0rem 1rem 1rem var(--main-background-accent-three);
}
.theme-subtitle {
  font-weight: normal;
  margin: 1rem 0rem;
}
#theme-colors,
#theme-colors-premade {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 0.5rem;
}
#theme-colors {
  height: 0px;
  padding: 0rem 2rem;
  transition: all 0.3s;
}
#theme-colors-premade {
  overflow: auto;
  width: 100%;
  height: 7rem;
}
#theme-colors-premade::-webkit-scrollbar {
  height: 5px;
}

#theme-colors-premade::-webkit-scrollbar-track {
  background-color: transparent;
}

#theme-colors-premade::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}
.theme-father,
.theme-father-premade {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  display: grid;
  border-radius: 4rem;
  place-items: center;
}
.theme-father-premade {
  min-height: 6rem;
  min-width: 6rem;

  border-radius: 0rem;
  overflow: hidden;
}
.theme-father div,
.theme-father-premade div {
  width: 95%;
  height: 95%;
  border-radius: 2rem;
  transition: all 0.3s;
}
.theme-father-premade div {
  border-radius: 1rem;
}
.blue-bg {
  background-color: blue;
}
.red-bg {
  background-color: red;
}
.green-bg {
  background-color: green;
}
.pink-bg {
  background-color: pink;
}
.hot-pink-bg {
  background-color: hotpink;
}
.yellow-bg {
  background-color: yellow;
}
.orange-bg {
  background-color: orange;
}
.aqua-bg {
  background-color: teal;
}
.purple-bg {
  background-color: purple;
}
.gray-bg {
  background-color: gray;
}
.black-bg {
  background-color: black;
}
.white-bg {
  background-color: white;
}
.colorful-bg {
  background-color: brown;
}
.cyan-bg {
  background-color: cyan;
}
.default-bg {
  background-color: lime;
}
.color-premade {
  overflow: hidden;
  position: relative;
}
.blue-premade::before,
.green-premade::before,
.red-premade::before,
.pink-premade::before,
.hot-pink-premade::before,
.orange-premade::before,
.yellow-premade::before,
.white-premade::before,
.purple-premade::before,
.colorful-premade::before,
.default-premade::before,
.cyan-premade::before {
  background-color: white;
}
.blue-premade::after {
  background-color: blue;
}
.green-premade::after {
  background-color: green;
}
.gray-premade::before {
  background-color: rgb(70, 70, 70);
}
.white-premade::before {
  background-color: black;
}
.red-premade::after {
  background-color: red;
}
.pink-premade::after {
  background-color: pink;
}
.hot-pink-premade::after {
  background-color: hotpink;
}
.orange-premade::after {
  background-color: orange;
}
.yellow-premade::after {
  background-color: yellow;
}
.black-premade::before {
  background-color: rgb(70, 70, 70);
}
.black-premade::after {
  background-color: rgb(11, 11, 11);
}
.white-premade::after {
  background-color: white;
}
.gray-premade::after {
  background-color: rgb(32, 32, 32);
}
.purple-premade::after {
  background-color: purple;
}
.aqua-premade::before {
  background-color: rgb(0, 79, 79);
}
.aqua-premade::after {
  background-color: aqua;
}
.default-premade::after {
  background-color: lime;
}
.cyan-premade::after {
  background-color: cyan;
}
.color-premade::before {
  content: "";
  position: absolute;
  height: 200%;
  width: 200%;
  transform: rotate(45deg);
  right: 0%;
  top: -110%;
}
.color-premade::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  top: -50%;
  left: -50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--control-window-text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--text-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.fa-plus {
  transition: all 0.5s;
}
.rotated {
  transform: rotate(45deg);
}
